.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.351);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: scale(0);

}

.overlay.active {
    transform: scale(1);
}

.note {
    &__form {
        display: flex;
        flex-direction: column;
        width: 40%;
        min-width: 375px;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 10;
        padding: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
    }

    &__title {
        border: none;
        font-size: 24px;
        padding: 10px;
        outline: none;
    }

    &__description {
        width: 100%;
        display: flex;
        align-items: flex-start;
        padding: 5px 10px;
        margin-bottom: 15px;
        word-wrap: normal;
        outline: none;
        min-width: 350px;
        max-width: 95%;
        resize: vertical;
        border: none;
    }


    &__buttons {
        display: flex;
        justify-content: flex-end;
        background-color: transparent;
        border: none;
        outline: none;

    }

}

input.button {
    border: none;
    outline: none;


    &__create,
    &__close {
        background-color: transparent;
        border-radius: 3px;
        border: none;
        padding: 7px 25px;
        margin-right: 10px;
        transition: 0.5s;
        outline: none;
        cursor: pointer;

    }

    &__create {
        background-color: #ECECEC;

    }

    &__close:hover,
    &__create:hover {
        background-color: #e92b6e;
        transition: 0.3s;


    }

    &__create:active,
    &__close:active {
        transform: scale(0.97);
        background-color: #a13c60;

        box-shadow: 3px 2px 10px 1px rgba(0, 0, 0, 0.24);
        transition: 0.3s;

    }
}

.warning {
    border-bottom: 0.5px solid #a13c60;
    color: #a13c60;
    padding-bottom: 0;
}