.search__panel {
  width: 100%;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.MuiPaper-root.ForwardRef-root-1.MuiPaper-elevation1.MuiPaper-rounded {
  width: 60%;
  min-width: 375px;
  background-color: #ececec;
  box-shadow: none;
}
