.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedSecondary {
  border-radius: 50px;
  padding: 0;
  margin: 0;
  font-weight: 200;
  width: 60px;
  height: 60px;
  font-size: 40px;
  position: absolute;
  bottom: 30px;
  right: 30px;
}
